.header {
	margin: 0 auto;
	background: url("../images/bgtile.png");
	min-height: 250px;
}

.logo {
	position: relative;
	display: inline-block;
	top: 100px;
	left: 40%;
}

.button {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 3px;
    position: relative;
    background: url("../images/bgtile.png");
    font-weight: 500;
    border: 1px solid white;
    left: 44%;
    top: 70px;
    box-shadow: 3px 3px 3px #000000;
}

button {
	max-width: 102px;
	position: relative;
	background: url("../images/bgtile.png");
	border: none;
}

#loginFont {
	font-family: 'Slabo 27px', serif;
	font-weight: 800;
	position: relative;
	font-size: 15px;
	left: 10px;		
}

.body {
	position: relative;
	clear: both;
}

p {
	font-family: 'Roboto Slab', serif;
	position: relative;
	left: 30px;
	max-width: 450px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
}

h2 {
	color: #125688;
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
	position: relative;
	left: 30px;
	line-height: 40%;
	top: 10px;
}

.button p {
	position: relative;
	display: inline;
	font-weight: 900;
	font-size: 1.2em;
	color: white;
	padding: 10px;
	bottom: 4px;
}

.phones {
	position: relative;
	display: inline;
	float: right;
	right: 550px;
	bottom: 450px;
}

.content {
	position: relative;
	float: right;
	display: inline;
	width: 500px;
    background: url("../images/frame.png") no-repeat;
    right: 210px;
    bottom: 60px;
    max-height: 350px;
}

footer {
	clear: both;
	text-align: center;
}

li {
	position: relative;
	display: inline;

}

#copyFont {
	color: grey;
	font-family: 'Roboto Slab', serif;

}